:host {
  display: block;
  padding: 10px;
}

div.container {
  display: flex;
  justify-content: space-between;
}

table.msg {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 550px;
}

table.item {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 800px;
}

th.text {
  height: 30px;
  text-align: center;
  font-size: large;
}

div {
  height: 50px;
  padding-top: 10px;
}

span.text {
  padding: 0 20px;
  font-size: medium;
}

span.tips {
  display: inline-block;
  color: red;
  font-size: small;
  padding: 5px;
}

input[type='text'] {
  width: 60%;
  height: 25px;
  margin: auto;
}
