<div class="container">
  <section>
    <table class="msg" border="1">
      <tr>
        <th class="text">基本資料</th>
      </tr>
      <th>
        <div>
          <span class="text">姓名</span>
          <input type="text" />
          <span class="tips">請輸入姓名</span>
        </div>
        <div>
          <span class="text">地址</span>
          <input type="text" />
          <span class="tips">請輸入地址</span>
        </div>
        <div>
          <span class="text">電話</span>
          <input type="text" />
          <span class="tips">請輸入電話</span>
        </div>
      </th>
    </table>
  </section>
  <section>
    <table class="item" border="1">
      <tr>
        <th class="text">購買項目</th>
      </tr>
      <th>
        <span>1</span>
      </th>
    </table>
  </section>
</div>
