<section class="container">
  <table class="msg" border="1">
    <tr>
      <th>基本資料</th>
    </tr>
    <tr>
      <div>
        <span>姓名</span>
        <input type="text" />
        <span class="tips">請輸入姓名</span>
      </div>
      <div>
        <span>地址</span>
        <input type="text" />
        <span class="tips">請輸入地址</span>
      </div>
      <div>
        <span>電話</span>
        <input type="text" />
        <span class="tips">請輸入電話</span>
      </div>
    </tr>
  </table>
  <table class="item" border="1">
    <tr>
      <th>購買項目</th>
    </tr>
    <tr>
      <td>1</td>
    </tr>
  </table>
</section>
