:host {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px #005cbb;
  color: #005cbb;
}

button.active {
  color: white;
  background-color: #005cbb;
  border: #005cbb;
}
