:host {
  display: block;
  padding: 10px;
}

input[type='text'] {
  width: 200px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.button {
  width: 45px;
  height: 25px;
  margin-left: 10px;
  color: #005cbb;
  background-color: white;
  border: 1px #005cbb solid;
  cursor: pointer;
}
